# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Myself\weixin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
../weixin.iml
../target
# 忽略两个关键的配置文件
../src/java/resources/application-database.yml
../src/java/resources/application-weixin.yml

